@model Product
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<br />
<form method="post" asp-action="create" asp-controller="product">
    <p>

        <label>Name</label>
        <input asp-for="Name" />
    </p>
    <p>

        <label>Description</label>
        <input asp-for="Description" />
    </p>
    <p>

        <label>Category</label>
        <input asp-for="Category" />
    </p>
    <p>

        <label>Price</label>
        <input asp-for="Price" />
    </p>
    <input type="submit" value="Submit"/>
</form>